<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.Classes.mapper.ClassesMapper">

    <!--获取子类和其文章数-->
    <select id="getClassesCountList" resultType="com.qf.Classes.dto.ClassesDto">
        <!--select *from class-->
        <!--<where>-->
            <!--<if test="classesId != '' and classesId != null">-->
                <!--classesId = #{classesId}-->
            <!--</if>-->
            <!--<if test="classesName != '' and classesName != null">-->
                <!--and className = #{classesName}-->
            <!--</if>-->
        <!--</where>-->

        SELECT r.class_id,r.class_name,COUNT(*) num from class_newpaper cn1 RIGHT JOIN
        (SELECT c1.class_id,c1.class_name from classes c1 INNER JOIN classes c2 WHERE c1.parent_id = c2.class_id and c1.status = 1) r
        ON r.class_id = cn1.class_id GROUP BY r.class_name
    </select>

    <!--根据classes对象的属性获取classes对象-->
    <select id="getClassesBy" parameterType="com.qf.Classes.pojo.Classes" resultType="com.qf.Classes.pojo.Classes">
        select * from classes
        <where>
            <if test="class_id != '' and class_id != null">
                class_id = #{class_id}
            </if>
            <if test="class_name != '' and class_name != null">
                and class_name = #{class_name}
            </if>
            and status = 1
        </where>
    </select>

    <!--修改classes对象-->
    <update id="updateClasses" parameterType="com.qf.Classes.pojo.Classes">
        update classes set class_name = #{class_name} where class_id = #{class_id} and status = 1
    </update>

    <!--伪删除分类classes-->
    <update id="deleteClasses" parameterType="Integer">
        update classes set status = 0 where class_id = #{class_id}
    </update>
</mapper>