<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.money.mapper.MoneyMapper">

     <!--统计金钱总额-->
    <select id="getAllMoneyCount" resultType="Integer">
        SELECT SUM(sum) from money
    </select>

    <!--获取对应用户所对应的金钱数量以及模糊查询,并按照数量高低进行排序-->
    <select id="getMoneyCountByUser" resultType="com.qf.money.dto.MoneyDto" parameterType="com.qf.money.vo.MoneyVo">
    SELECT mone.user_id,userin.user_alias,mone.sum from userinfo userin,money mone
        <where>
            userin.user_id=mone.user_id
            <if test="user_id != null and user_id != ''">
                and  userin.user_id=#{user_id}
            </if>
            <if test="user_alias != null and user_alias != ''">
                and user_alias LIKE CONCAT("%",#{user_alias},"%")
            </if>
            <if test="sum != null and sum != ''">
                and mone.sum=#{sum}
            </if>
            GROUP BY mone.sum desc
        </where>
    </select>

</mapper>