<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.newpaper.mapper.TbMenuinfoMapper" >
  <resultMap id="BaseResultMap" type="com.qf.newpaper.pojo.TbMenuinfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    menu_id, menu_name, menu_url, parent_id
  </sql>
</mapper>
